
<div class="car-collection-card">
    <a href="{{ post.url }}">
        <div class="car-img-cont">

            <img src="{{ post.data.mainImage }}" alt="{{ post.data.altImage }}">
    
            <div class="view-page">
                <p class="medium-font pink vertical-align-text">View Page</p>
            </div>
        </div>
    </a>
    

    <a href="./axio.html">
        <p class="pink medium-font text-align-center">
            {{ post.data.title }}
        </p>
    </a>
    
</div>