 <footer>
        <div class="footer-upper">
            <div class="quick-links">
                <p class="pink small-font">
                    Quick Links
                </p>
                <a href="/" class="xtra-small-font white">
                    Home
                </a>
                <a href="/cars" class="xtra-small-font white">
                    Cars
                </a>
                <a href="/about" class="xtra-small-font white">
                    About
                </a>
                <a href="/contact" class="xtra-small-font white">
                    Contact
                </a>
            </div>
            <div class="footer-social-media">
                <p class="pink small-font text-align-center">
                    Contact Us
                </p>
                <div class="footer-media-cont">
                    <div>
                        <a href="#">
                            <img src="/assets/instagran.png" alt="">
                        </a>
                        
                    </div>
                    <div>
                        <a href="#">
                            <img src="/assets/fb.png" alt="">
                        </a>
                        
                    </div>
                    <div>
                        <a href="tel:{%mobile%}">
                            <img src="/assets/phone.png" alt="">
                        </a>
                        
                    </div>
                    <div>
                        <a href="#"><img src="/assets/email.png" alt=""></a>
                        
                    </div>
                </div>
            </div>
            <div class="copyright white xtra-small-font">
               © {% year %} Copyright Bismuth
            </div>
                
            
        </div>
    </footer>
