 <footer>
        <div class="footer-upper">
            <div class="quick-links">
                <p class="pink small-font">
                    Quick Links
                </p>
                <a href="./index.html" class="xtra-small-font white">
                    Home
                </a>
                <a href="./cars/car.html" class="xtra-small-font white">
                    Cars
                </a>
                <a href="./about.html" class="xtra-small-font white">
                    About
                </a>
                <a href="./contact.html" class="xtra-small-font white">
                    Contact
                </a>
            </div>
            <div class="footer-social-media">
                <p class="pink small-font text-align-center">
                    Contact Us
                </p>
                <div class="footer-media-cont">
                    <div>
                        <a href="#">
                            <img src="./img/icon/instagran.png" alt="">
                        </a>
                        
                    </div>
                    <div>
                        <a href="#">
                            <img src="./img/icon/fb.png" alt="">
                        </a>
                        
                    </div>
                    <div>
                        <a href="#">
                            <img src="./img/icon/phone.png" alt="">
                        </a>
                        
                    </div>
                    <div>
                        <a href="#"><img src="./img/icon/email.png" alt=""></a>
                        
                    </div>
                </div>
            </div>
            <div class="copyright white xtra-small-font">
               © {% year %} Copyright Bismuth
            </div>
                
            
        </div>
    </footer>

<script src="app.js"></script>