
<section class="contact-section" method="POST" id="contact">
      
        <div class="contact-container" method="POST">
            <p class="pink vertical-align main-font">Contact Us</p>
            <form action="https://formsubmit.co/rudrprasad@yahoo.com" method="POST">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                        </div>


                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                        </div>
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Rental Car Required" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
                </div>

                <button id="btn" type="submit" class="btn btn-lg btn-dark btn-block">
                    Send
                </button>
    
                <input type="hidden" name="_next" value="/thanks">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_autoresponse" value="Dear Valued Customer. We have received your email and will be with you shortly. If it is important then feel free to contact us on mobile: (679) 9261-933">
    
    
            </form>
        </div>
    </section>