<button class="nav-open-btn" id="nav-open-btn" onclick="navOpen()">
    <div class="hams" id="ham1"></div>
    <div class="hams" id="ham2"></div>
    <div class="hams" id="ham3"></div>
</button>

<nav id="nav">
    <div class="nav-title vertical-align-text medium-font">
        {{ page_title }}
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    <div class="social-media">
        <div>
            <a href="#">
                <img src="./img/icon/instagran.png" alt="">
            </a>
            
        </div>
        <div>
            <a href="#">
                <img src="./img/icon/fb.png" alt="">
            </a>
            
        </div>
        <div>
            <a href="#">
                <img src="./img/icon/phone.png" alt="">
            </a>
            
        </div>
        <div>
            <a href="#"><img src="./img/icon/email.png" alt=""></a>
            
        </div>
    </div>
</nav>
