---

title: Kants Rentals
page_title: Home
layout: 'base.njk'

---
<section id="landing">
    <img src="./assets/home-bg.jpg" alt="">
    <div class="container">
        <p class="pink vertical-align-text" id="landing-title">Kant's Rentals</p>
        <p class="white vertical-align-text" id="for-all">For All your Rental Needs</p>
        <div class="button-cont">
            <a href="cars">
                <button class="landing-buttons">
                    <div class="small-font vertical-align-text">
                        Our Cars
                    </div>
                    
                </button>
            </a>
            
            <button class="landing-buttons">
                <div class="small-font vertical-align-text">
                    <a href="#contact">Book Now</a>
                </div>
                <div class="white-arrow-cont">
                    <img src="./assets/white-arrow.png" alt="" srcset="">
                </div>
            </button>
        </div>
    </div>
</section>

    <section id="section2">
        <div>
            <p class="pink main-font vertical-align-text">Rentals</p>
            <p class="white vertical-align-text medium-font">Whether it be luxury or sport we've got it all. Known as the best car rental company on the west coast we have cars for all occasions.</p>
            <div>
                <p class="pink vertical-align-text small-font"><a href="/cars">Our Car Collection</a></p>
                <div class="white-arrow-cont">
                    <img src="./assets/pink-arrow.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>

    {%- for post in collections.post -%}

        {% include "home-car-cards.njk" %}

    {%- endfor %}

    
    {% include "form.njk" %}

   


    <div id="car-img">
        <a href="#body"><img src="/assets/car-totop.png" alt="" srcset=""></a>
    </div>


    <script src="https://kit.fontawesome.com/0798869863.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>