---

title: Kants Rentals
page_title: Home
layout: 'base.njk'

---
<section id="landing">
    <img src="./assets/home-bg.jpg" alt="">
    <div class="container">
        <p class="pink vertical-align-text" id="landing-title">Kant's Rentals</p>
        <p class="white vertical-align-text" id="for-all">For All your Rental Needs</p>
        <div class="button-cont">
            <a href="cars">
                <button class="landing-buttons">
                    <div class="small-font vertical-align-text">
                        Our Cars
                    </div>
                    
                </button>
            </a>
            
            <button class="landing-buttons">
                <div class="small-font vertical-align-text">
                    Book Now
                </div>
                <div class="white-arrow-cont">
                    <img src="./assets/white-arrow.png" alt="" srcset="">
                </div>
            </button>
        </div>
    </div>
</section>

    <section id="section2">
        <div>
            <p class="pink main-font vertical-align-text">Rentals</p>
            <p class="white vertical-align-text medium-font">Whether it be luxury or sport we've got it all. Known as the best car rental company on the west coast we have cars for all occasions.</p>
            <div>
                <p class="pink vertical-align-text small-font"><a href="./cars/car.html">Our Car Collection</a></p>
                <div class="white-arrow-cont">
                    <img src="./assets/pink-arrow.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>

    {%- for post in collections.post -%}

        {% include "home-car-cards.njk" %}

    {%- endfor %}

    <section class="contact-section">
      
        <div class="contact-container">
            <p class="pink vertical-align main-font">Contact Us</p>
            <form action="https://formsubmit.co/574145bdb548ca10e91ce109215be150" method="POST">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                        </div>

                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
                </div>

                <button id="btn" type="submit" class="btn btn-lg btn-dark btn-block">
                    Send
                </button>
    
                <input type="hidden" name="_next" value="https://kantsrentals.netlify.app/thanks.html">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_autoresponse" value="Dear Valued Customer. We have received your email and will be with you shortly. If it is important then feel free to contact us on mobile: (679) 9261-933">
    
    
            </form>
        </div>
    </section>

   


    <div id="car">
        <a href="#body"><img src="./img/icon/car-totop.png" alt="" srcset=""></a>
        
    </div>


    <script src="https://kit.fontawesome.com/0798869863.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>