---

title: Kants Rentals
page_title: Home
layout: 'base.njk'

---

<p class="main-font pink text-align-center margin-40px">Thank You for Contacting Us</p>

<div class="mobile-numbers">
    <div class="mobile-numbers-text">
        <p class="white medium-font">We will be with you shortly. Contact us on the mobile or email us if your urgently need something.</p>
        <div class="mobile-number-cards">
            <div class="mobile">
                <img src="/assets/phone.png" alt="">
                <p class="white small-font">{%mobile%}</p>
            </div>
            <div class="email">
                <img src="/assets/email.png" alt="">
                <p class="white small-font">email to be inserted here</p>
            </div>
        </div>
    </div>
</div>
